body{
	background-color: #ffdddd;
	color: #555;
	font-family: tahoma;
	font-size: 10pt;
}
.col {
	float:left;
	padding-right: 20px;
}
#index{
	width: 16vw;
	height: 95vh;
	overflow: scroll;
}
#list{
	margin-left: 20px;
	width: 16vw;
	height: 95vh;
	overflow: scroll;
}
#note{
	width: 58vw;
	margin-left: 20px;
}
.pile .pile_title{
	border: 1px solid #a55;
	background-color: #fff;
	margin-bottom: 5px;
	cursor: pointer;
	vertical-align: middle;
	line-height: 30px;
	padding-left: 12px;
}
.pile .notebooks{
	display: none;
	padding-left: 10px;
	padding-right: 10px;
}
.pile .notebook .notebook_title{
	padding: 5px;
	line-height: 25px;
	background-color: #a55;
	color: #ccc;
	cursor: pointer;
	margin-bottom: 4px;
}
.pile .notebook .notebook_title.selected{
	border-left: 2px solid #200;
	color: #fff;
}
.note_link, .new_note{
	padding: 5px;
	border: 1px solid #a55;
	color: #a55;
	line-height: 25px;
	cursor: pointer;
	margin-bottom: 3px;
}
.note_link.selected{
	background-color: #fff;
}
.title-holder{
	background-color: #a55;
	width: 58vw;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.title-holder input{
	background-color: #a55;
	width: 100%;
	color: #fdd;
	font-size: 16px;
	font-weight: bold;
	border: none;
}
.save_box{
	width: 100px;
	float:right;
	margin-bottom: 10px;
}
.save_box input{
	border: none;
	background-color: #a55;
	color: #fff;
}
.save_box img{
	display: none;
}
.new_note{
    background-color: #fee;
}
.new_note_inputs{
    display: none;
}
.new_note_inputs input[type=text]{
    cursor: text; 
}
.new_note_inputs input[type=button]{
    cursor: pointer; 
	border: 1px solid #a55;
	background-color: #fff;
    width: 40px;
    padding: 10px 0px 11px 0px;
}
